In [1]:
import pandas as pd
import geopandas as gpd
from shapely.geometry import Point

In [5]:
df = pd.read_csv('housing.csv')

In [6]:
df.head()

,Start,Address,Roommates,Long,Lat
0,8/16/1989,"71 Lomita Drive, Mill Valley, CA 94941",Barbara Strick / Larry Strick,-122.52266,37.90705
1,6/1/2013,"1885 Turk St, San Francisco 94115",Ben Slater,-122.44011,37.77936
2,12/1/2014,"85 Richland Ave, San Francisco 94110",Ben Slater / Toby Silverman / Emily Bell / Abi...,-122.42172,37.73586
3,4/1/2017,"1250 63rd St, Emeryville 94608",Cooper Rogers / Cora Lautze / Emily Dubin / Pa...,-122.28746,37.84511
4,11/1/2017,"1620 Russell Street, Berkeley 94703",Ben Slater / Molly Rose Williams / Swen Hendri...,-122.27612,37.85517

In [16]:
# Create a new column Coordinates as a tuple of Longitude and Latitude
df['Coordinates'] = list(zip(df.Long, df.Lat))

In [9]:
# Transform tuples to points
df['Coordinates'] = df['Coordinates'].apply(Point)

In [11]:
gdf = gpd.GeoDataFrame(df, geometry='Coordinates')

In [12]:
gdf.to_file('housing.geojson',driver='GeoJSON')

C:\Users\zstat\Anaconda2\envs\py36\lib\site-packages\geopandas\io\file.py:108: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():